[submodule "src/libs/tomlc17"]
	path = src/libs/tomlc17
	url = https://github.com/cktan/tomlc17.git
[submodule "src/libs/minhook"]
	path = src/libs/minhook
	url = https://github.com/TsudaKageyu/minhook.git
